<!doctype html>
<html ng-app="hello">
<head>
    <script src="angular.min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <script src="app.js" ></script>
    <script src="factory.js" ></script>
    
    
</head>
<body >
    <section ng-controller="HomeController as home">
        
        <button ng-click="home.createUser()">Create Random User</button>
        <h2>Users</h2>
        <pre>{{home | json}}</pre>
    </section>
    <section ng-controller="FormController as form">
        <h2>Form</h2>
        <input type="text" ng-model="form.name" />
        <input type="number" ng-model="form.age" />
        <input type="number" ng-model="form.salary" />
        <input type="text" ng-model="form.picture" />

    </section>
</body>
</html>
